.MainPage{
    
    background-color:#99CCFF;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    width: 800px;
}

.mainArea{
    display: flex;
    justify-content:center;
    align-items:stretch;
    
}

.mainContainer{
   
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}